/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
  padding-top: 42px;
  /* padding-bottom: 3rem; */
  color: #5a5a5a;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #F6F6F6 !important;
}

.myNavbar {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  /* height: 40px; */
  background: rgba(255, 255, 255, .5);
  padding: 0px 0px 0px 5px !important;
}

.myNavbar a {
  color: #000000 !important;
}

.myColorLink {
  color: #000000 !important;
}

.myColor:hover {
  color: #ffffff !important;
  background-color: #1061e5;
  border: 1px solid blue;
}

.myColor {
  color: #000000 !important;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}

.myNavbar a img {
  height: 30px;
  width: 30px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item {
  /* height: 100vh; */
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

#myFrame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* social Navbar CSS
-------------------------------------------------- */

.social {
  color: #fff !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social li:first-child {
  border-left: 1px solid #ddd;
}

.social li {
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  margin-right: 5px;
  width: 40px;
  text-align: center;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  padding: 1px;
}

.social li a i {
  color: #000000;
}

.social li:hover a i {
  color: blue;
}

.pullRightCustom {
  float: right !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.shri-Footer {
  text-align: center;
  width: 100%;
  min-height: 40px;
  background-color: #025aa5;
  color: #fff;
  line-height: 40px;
  position: relative;
  bottom: 0;
}

#demo, #demo1, #demo2, .para {
  text-align: justify;
  text-justify: inter-word;
}

/*###$$$-- back-to-top -$$$####*/

#back-top {
  position: fixed;
  bottom: 50%;
  margin-left: 0;
  right: 3px;
  z-index: 500;
  border: 1px solid #000;
  width: auto;
  padding: 10px;
  background-color: darkolivegreen;
  color: #fff;
}

#back-top a {
  display: none;
}

#back-top:hover a {
  display: inline-block;
}

#back-top a:link {
  color: #fff !important;
}

#back-top a:visited {
  color: #fff !important;
}

#back-top:hover {
  cursor: pointer;
}

a:hover {
  color: red;
}

.collapseView {
  margin-top: 10px !important;
}

/*###$$$-- Loader -$$$####*/

/* .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; } */

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.hide {
  visibility: hidden;
  display: none;
}

/* ###################
  botton Animations
  ####################*/

.button_Animation {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}

.button_Animation span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_Animation span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_Animation:hover span {
  padding-right: 20px;
}

.button_Animation:hover span:after {
  opacity: 1;
  right: 0;
}

/* ######################################
Youtube vedio load css
#######################################*/

.youtube-player {
  position: relative;
  /* padding-bottom: 56.23%; */
  /* Use 75% for 4:3 videos */
  height: 100%;
  overflow: hidden;
  width: 100%;
  background: #000;
  /* margin: 5px; */
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../images/play.png") no-repeat;
  cursor: pointer;
}

/* ######################################
image gallery css
#######################################*/

.padleft-right {
    padding-left: 5px;
    padding-right: 0px;
}
